// Colors
$o-community-color: #333;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

$o-brand-lightsecondary: white;

// background-color body
$o-webclient-background-color: white;

.o_main_navbar {
    color: #eee;
}
